.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.panel-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card p {
  margin: 0;
}

.resolved {
  background-color: rgb(210, 247, 210);
}

.resolved p {
  color: green;
}

.notResolved {
  background-color: rgb(248, 226, 226);
}

.notResolved p {
  color: red;
}
